@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
  max-width: 100vw;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 27 75% 54%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --font-anthropic-sans: 'anthropicSans', 'Inter', 'system-ui', sans-serif;
    --font-styrene-a: 'styreneA', 'Helvetica Neue', 'system-ui', sans-serif;
    --font-copernicus: 'copernicus', 'Georgia', serif;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .chat-message-bubble a {
    text-decoration: underline;
  }

  .chat-message-bubble ol {
    list-style: decimal;
  }

  .chat-message-bubble ul {
    list-style: disc;
  }

  .chat-message-bubble li {
    white-space: normal;
  }

  .chat-message-bubble pre {
    white-space: pre-wrap;
    overflow-wrap: anywhere;
  }

  .chat-message-bubble blockquote {
    border-left: 4px solid #474545;
    padding-left: 16px;
  }

  .chat-message-bubble hr {
    border-top: 1px solid #474545;
  }
}

@keyframes blurFadeIn {
  0% {
    opacity: 0;
    filter: blur(2px);
    transform: scale(0.995);
  }

  100% {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
  }
}

.animate-blur-fade-in {
  animation: blurFadeIn 0.16s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

@keyframes blurFadeOut {
  0% {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
  }

  100% {
    opacity: 0;
    filter: blur(1.5px);
    transform: scale(0.995);
  }
}

.animate-blur-fade-out {
  animation: blurFadeOut 0.1s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

@keyframes slideUpFade {
  0% {
    opacity: 0;
    transform: translateY(12px) scale(0.96);
    filter: blur(4px);
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
    filter: blur(0);
  }
}

.animate-slide-up-fade {
  animation: slideUpFade 0.6s cubic-bezier(0.16, 1, 0.3, 1) forwards;
  opacity: 0;
}

@font-face {
  font-family: 'Kalice-Regular';
  src: url('/assets/KaliceTrial-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
